<!DOCTYPE html> 
<html xmlns="http://www.w3.org/1999/xhtml"      xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3"> 
   <head> 
      <title>Spring Security Example</title> 
   </head> 
   <body> 
   <p>Here</p>
   <form action="login.html" method="post">
    UserName:<input type="text" name="username" /> 
    Password: <input type="password" name="password" /> 
    <input type="submit" value="Sign In" /> 
      </form> 
   </body>
</html>